<a href="https://colab.research.google.com/github/mga06/MineriaMSID/blob/master/BlaBlaCar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# En caso de existir ficheros del repo almacenados, se eliminan completamente y
# se instala una dependencia de Git LFS para poder guardar y descargar ficheros
# de gran volumen
%%capture
!rm -r MineriaMSID
!sudo apt-get install git-lfs
!git lfs install

# Clonamos el repositorio donde tenemos almacenado el Dataset
!git clone https://github.com/mga06/MineriaMSID.git

In [33]:
# Leemos el dataset obtenido del repositorio
import pandas as pd

dataset = pd.read_csv('MineriaMSID/DATOS.txt', sep='|')

# Descripción breve de los datos originales.
Este conjunto de datos contiene información sobre los trayectos ofertados en la plataforma BlaBlaCar

In [34]:
# Consultamos volumen de datos que tiene el Dataset
filas, columnas = dataset.shape

# Creamos una tabla para mostrar los valores
datos = {
     '': ['Filas', 'Columnas'],
     'Valor': [str(filas)+" elementos", str(columnas)+" elementos"]
 }
tabla_temporal = pd.DataFrame(data=datos)
tabla_temporal

                          Valor
0     Filas  11346914 elementos
1  Columnas        11 elementos

In [35]:
# Describimos el tipo de datos que tiene cada columna del dataset
dataset.dtypes

DIA                      object
PAIS                     object
ORIGEN                   object
DESTINO                  object
IMP_KM                  float64
ASIENTOS_OFERTADOS      float64
ASIENTOS_CONFIRMADOS      int64
VIAJES_OFERTADOS          int64
VIAJES_CONFIRMADOS        int64
OFERTANTES                int64
OFERTANTES_NUEVOS         int64
dtype: object

Los tipos de datos que vemos en cada columna son:

  Tipo  | Uso 
-------------------|------------------
  object      | `Texto o valores mixtos (valores numéricos y no numéricos)`
  int64       | `Valores enteros`
  float64       | `Valores de punto flotante`