<a href="https://colab.research.google.com/github/mga06/MineriaMSID/blob/master/BlaBlaCar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# En caso de existir ficheros del repo almacenados, se eliminan completamente y
# se instala una dependencia de Git LFS para poder guardar y descargar ficheros
# de gran volumen
%%capture
!rm -r MineriaMSID
!sudo apt-get install git-lfs
!git lfs install

# Clonamos el repositorio donde tenemos almacenado el Dataset
!git clone https://github.com/mga06/MineriaMSID.git

In [20]:
# Leemos el dataset obtenido del repositorio
import pandas as pd

dataset = pd.read_csv('MineriaMSID/DATOS.txt', sep='|')
dataset.head()

,DIA,PAIS,ORIGEN,DESTINO,IMP_KM,ASIENTOS_OFERTADOS,ASIENTOS_CONFIRMADOS,VIAJES_OFERTADOS,VIAJES_CONFIRMADOS,OFERTANTES,OFERTANTES_NUEVOS
0,01/11/2017,es,A Cañiza,A Lama,NaN,3.0,0,1,0,1,0
1,01/11/2017,es,A Cañiza,Mos,NaN,5.0,0,2,0,2,0
2,01/11/2017,es,A Cañiza,O Porriño,NaN,3.0,0,1,0,1,0
3,01/11/2017,es,A Cañiza,Ourense,NaN,7.0,0,2,0,2,0
4,01/11/2017,es,A Cañiza,Ribadavia,NaN,7.0,0,2,0,2,0

# Descripción breve de los datos originales.
Sobre que tratan, qué representan, que volumen de datos contienen. Se puede incluir descripción detallada (tablas, campos, pequeño análisis exploratorio) como anexo.

In [18]:
# Consultamos volumen de datos que tiene el Dataset
filas, columnas = dataset.shape

# Creamos una tabla para mostrar los valores
datos = {
     '': ['Filas', 'Columnas'],
     'Valor': [str(filas)+" elementos", str(columnas)+" elementos"]
 }
tabla_temporal = pd.DataFrame(data=datos)
tabla_temporal

                          Valor
0     Filas  11346914 elementos
1  Columnas        11 elementos

In [19]:
# Describimos el tipo de datos que tiene cada columna del dataset
dataset.dtypes

DIA                      object
PAIS                     object
ORIGEN                   object
DESTINO                  object
IMP_KM                  float64
ASIENTOS_OFERTADOS      float64
ASIENTOS_CONFIRMADOS      int64
VIAJES_OFERTADOS          int64
VIAJES_CONFIRMADOS        int64
OFERTANTES                int64
OFERTANTES_NUEVOS         int64
dtype: object

Como podemos ver, algunas columnas como DIA o PAIS son de tipo *object*. Para poder tratarlos adecuadamente, vamos a transformar estos tipos a otros más usables.

In [31]:
dataset['DIA'] = pd.to_datetime(dataset['DIA'], format='%d-%m-%y')
dataset['PAIS'] = dataset['PAIS'].astype('category')
dataset.dtypes

DIA                     datetime64[ns]
PAIS                            object
ORIGEN                          object
DESTINO                         object
IMP_KM                         float64
ASIENTOS_OFERTADOS             float64
ASIENTOS_CONFIRMADOS             int64
VIAJES_OFERTADOS                 int64
VIAJES_CONFIRMADOS               int64
OFERTANTES                       int64
OFERTANTES_NUEVOS                int64
dtype: object

In [ ]:
dataset.head()